<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
version="5.0">

<welcome-file-list>
    <welcome-file>frontend/index.html</welcome-file>
</welcome-file-list>

<servlet>

<servlet-name>CarServlet</servlet-name>

<servlet-class>CarServlet</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>CarServlet</servlet-name>

<url-pattern>/CarServlet</url-pattern>

</servlet-mapping>

</web-app>